<div class="heading">
    <h2>Edit Employeee</h2>
    </div>
<div class="container col-sm-4">
    <div class="register-form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <input type="hidden" class="form-control"    formControlName="id" required name="id" [(ngModel)]="emp.id"value=""  /> 
          <div class="form-group">
            <label>Full Name</label>
            <input
              type="text"
              formControlName="firstName"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
              [(ngModel)]="emp.firstName"
            />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors?.required">Fullname is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <input
              type="text"
              formControlName="lastName"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
              [(ngModel)]="emp.lastName"
            />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
              <div *ngIf="f.lastName.errors?.required">Lastname is required</div>
          
            </div>
         
          </div> 
          <div class="form-group">
            <label>User Name</label>
            <input
              type="text"
              formControlName="username"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
              [(ngModel)]="emp.username"
            />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors?.required">Username is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Age</label>
            <input
              type="text"
              formControlName="age"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.age.errors }"
              [(ngModel)]="emp.age"
            />
            <div *ngIf="submitted && f.age.errors" class="invalid-feedback">
              <div *ngIf="f.age.errors?.required">Age is required</div>
            
            </div>
          </div>
          <div class="form-group">
            <label>Salary</label>
            <input
              type="text"
              formControlName="salary"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.salary.errors }"
              [(ngModel)]="emp.salary"
            >
            <div *ngIf="submitted && f.salary.errors" class="invalid-feedback">
              <div *ngIf="f.salary.errors?.required">Salary is required</div>
         
              
            </div>
          </div>
          <div class="form-group">
            <label>Card No</label>
            <input
              type="text"
              formControlName="cardno"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.cardno.errors }"
              [(ngModel)]="emp.cardno"
            >
            <div *ngIf="submitted && f.cardno.errors" class="invalid-feedback">
              <div *ngIf="f.cardno.errors?.required">Card No is required</div>
         
            </div>
          </div>
    
          <div class="form-group">
              <br>
            <button type="submit" class="btn btn-primary">Register</button>
           
          </div>
        </form>
      </div>
    </div>